body {
	
	color: #444;
	
}

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

#date_chat{
	
font-weight: bold;
}

#pseudo_chat{
	
margin-left: 15px;
	
font-weight: bold;
}	
#message_chat{

margin-left: 20px;
}

#contenu_chat{
	
overflow-y: scroll;
	
overflow-x: hidden;
	
height: 350px;
	
margin-top: 50px;
}

#message{
	width:90%;
}

.entete{
	font-weight:bold;
	font-size: 15px;
	border: 1px solid black;
}

.licencie_contenu_gauche{
	border-left: 1px solid black;
}

.licencie_contenu{
	border-left:1px solid black;
	border-right:1px solid black;
}

.licencie_contenu_droite{
	border-right:1px solid black;
}